.header-ct4{
    text-align: center;
    width: 45%;
    margin: 0 auto;
    padding-top: 150px;
}
.wrapper-content4{
    background-color: #f8f8f8;
    padding-bottom: 200px;
}
.header-ct4 p{
    font-size: 40px;
}

.seller{
    border-radius: 50%;
}

.content-ct4 {
    display: flex;
    justify-content: space-around;  
    padding-top: 150px;
}

.seller-content{
    width: 57%;
    display: flex;
    padding-top: 130px;
}
.ngoac{
    margin-right: 60px;
}