.header-ct3{
    text-align: center;
    width: 50%;
    margin: 0 auto;
    padding-top: 150px;
    margin-bottom: 200px;
    h2{
        font-size: 68px;
    }
    span{
        font-size: 40px;
    }
}

.h3-ct3 {
    font-size: 50px;
}

.p-ct3{
    font-size: 40px;
}

.content3s{
    display: flex;
    width: 48%;
    float: left;
    margin-bottom: 150px;
}

.main-content3{
    overflow: hidden;
}
.ct3-img{
    margin-right: 60px;
}
.ct3sr{
    float: right;
}