.wrapper-content2{
      background-image: url("./img/Where.png");
      height: 1191px;
}
.des-ct2{
    width: 35.9%;
}

.des-ct2 h2{
    font-size: 68px;
    padding-top: 230px;
}

.des-ct2 p{
    font-size: 40px;
}